@section S1{
@model FinalProject_EAD.Models.adminLogin
}
<h1 class="page-header">
    Change user password
</h1>
<div class="row" style="margin: 10px">
    <div class="col-md-9">
        <ul class="list-group ">
            <li class="list-group-item" style="font-size:medium">
                <form method="post" action="/admin/change_user_password" class="form-group" role="search">
                    password:<div class="form-group">
                                    <input class="form-control" placeholder="new password" name="newpassword" id="newpassword" type="password"/>
                                </div>
                    Confirm password:<div class="form-group">
                                    <input class="form-control" placeholder="confirm new password" name="confirmnewpassword" id="confirmnewpassword" type="password"/>
                                </div>
                    @Html.TextBoxFor(m => m.username, new {hidden="hidden",value=Model.username })
                    @Html.TextBoxFor(m => m.password, new {hidden="hidden",value=Model.password })

                    <button class="btn btn-success" id="change">Change</button>
                </form>
            </li>
        </ul>
    </div>
</div>
                    
