<h1 class="page-header">
    Disable/Enable User account
</h1>
<div class="row" style="margin: 10px">
    <div class="col-md-9">
        <ul class="list-group ">
            <li class="list-group-item" style="font-size:medium">
                <form method="post" action="/admin/disableuseraccount" class="form-group" role="search">
                    Enter user name:<select name="username" class="btn btn-default" id="usernametobedisabled">
                                        @{foreach (string s in ViewBag.enabledUsers)
                                            {
                                                <option>@s</option>
                                            }
                                        }
                                    </select>
                    <button class="btn btn-success" id="disable">Disable</button>
                </form>
            </li>

            <li class="list-group-item" style="font-size:medium">
                <form method="post" action="/admin/enableuseraccount" class="form-group" role="search">
                    Enter user name:<select name="username" class="btn btn-default" id="usernametobeenabled">
                                        @{foreach (string s in ViewBag.disabledUsers)
                                        {
                                            <option>@s</option>
                                        }
                                        }
                                    </select>
                    <button class="btn btn-success" id="enable">Enable</button>
                </form>
            </li>
        </ul>
    </div>
</div>